:root {
    /* Background */
    --bg-primary: #504333;
    --bg-primary-light: #f7f4f0;
    --bg-white: #fff;

    /* border */
    --border-white: #fff;

    /* Font */
    --font-primary: #504333;
    --font-black: #333;
    --font-white: #fff;
    --font-base: #5d5d5d;

    --font-family-base: 'Noto serif JP' serif;
    --font-family-eng: 'Montserrat' sans-serif;

    /* width */
    --width01: 1080px;
    --width02: 920px;
}

html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    *font-size: 100%;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
}

input,
textarea,
select {
    font-size: 16px;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* 全体設定 */
body {
    font-family: var(--font-family-base);
    font-family: var(--font-family-eng);
    font-size: 16px;
    line-height: 1.75;
}

/* コンポーネント */
.sec-title {
    font-size: 32px;
    color: var(--font-primary);
    letter-spacing: 3px;
    text-align: center;
}

.component-btn {
    border-radius: 100px;
    width: 320px;
    display: block;
    padding: 8px;
    box-sizing: border-box;
    color: var(--font-white);
    text-align: center;
    margin: 10px 0;
    background: var(--bg-primary);

}

/* レイアウト */
.l-container {
    margin: 0 auto;
}

#concept-section {
    /* max-width: var(--width01); */
    background-image: url(../img/bg-top-concept@2x.jpg);
    height: 880px;
    margin: 0 auto;
}

.sec-inner {
    max-width: var(--width01);
    margin: 0 auto;
}

/* サイトトップのロゴ */
@media screen and (min-width: 765px) {
    .site-top-logo {
        padding: 20px 0;
    }
    .site-top-logo-img {
        width: 24%;
        margin: 0 auto;
        display: block;
    }
}

.site-top-logo-img {
    width: 240px;
    margin: 0 auto;
    display: block;
}

/* キービジュアル */
.slide-items {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    gap: 24px;
}

/* コンセプト */
.concept {
    margin-top: 40px;
    margin-bottom: 190px;
    color: var(--font-white);
}

.sec-title--white {
    color: var(--font-white);
    padding-top: 200px;
}

.sec-catch {
    font-size: 24px;
    margin-bottom: 20px;
}

.concept-bg {
    position: relative;
}

.concept-bg-img {
    position: absolute;
    z-index: -1;
}

.shop-about {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.flex-img-items {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.flex-img-item {
    padding: 0 20px;
    width: 40%;
}

/* プロダクト */
.product {
    background-color: var(--bg-primary-light);
    max-width: 100%;
    padding: 50px 0;
}
.product-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: var(--width01);
    margin: 0 auto;
}

.product-list-items {
    margin: 20px 20px;
}

.product-list-item {
    display: flex;
    align-items: center;
}

.product-list-img {
    width: 50%;
}

.product-list-text {
    margin-left: 50px;
}

.instagram {
    background-color: var(--bg-primary);
    width: var(--width01);
    padding: 80px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;

}

.component-btn--white {
    background-color: var(--bg-white);
    color: var(--font-primary);
    margin: 0 auto;
}

/* ショールーム */
.showroom {
    margin: 20px 0;
}
.showroom-list {
    display: flex;
    text-align: center;
}

.showroom-item {
    margin: 20px;
}

.onlineshop {
    color: var(--font-white);
}

/* オンラインショップ */

.onlineshop-title {
    position: absolute;
    left: 43%;
    margin-top: 50px;
    font-size: 32px;
    margin-bottom: 20px;
}

.component-btn--border {
    position: absolute;
    margin-top: 100px;
    left: 42%;
    background-color: transparent;
    border: 1px solid var(--border-white);
}

.onlineshop-img {
    background-image: url(../img/bg-top-online-shop@2x.jpg);
    background-position: center;
    background-size: cover;
    padding: 124px 0;
}

/* ページ下部ロゴ */
.pd-logo {
    margin: 104px 0;
}
.pd-logo-img {
    width:15%;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pd-shop-info {
    text-align: center;
    margin-bottom: 30px;
}

.sns {
    text-align: center;
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin: 0 auto;
}

/* Google Map */
.gmap iframe {
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
}

/* footer */
.footer {
    background-color: var(--bg-primary);
    width: 100%;
    padding: 20px;
}

.copyright {
    text-align: center;
    color: var(--font-white);
    font-size: 12px;
}